<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Créditos</h1>
    <p>Creado por: Alex Olleta</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Rubik%27s_Cube_variants.jpg/250px-Rubik%27s_Cube_variants.jpg" alt="rubik" />
  </body>
</html>