<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title>Cultura General</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="#E8E8E8">
    <h1>Cuestionario de Cultura General</h1>

    <p> Respuesta: <%= respuesta %> </p>

    <a href="/quizes/question"> Volver a intentarlo </a>
  </body>
  <hr>
  <footer><a href="https://www.miriadax.net"> Miriada X</a> / <a href="https://github.com/AlexOlleta"> GitHub</a>
  </footer>
</html>