<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title>Cultura General</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cuestionario de Cultura General</h1>

    <p> Respuesta: <%= respuesta %> </p>

    <a href="/quizes/question"> Volver a intentarlo </a>
  </body>
</html>