<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title>Cultura General</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cuestionario de Cultura General</h1>

    <table>
      <% var i; for(i=0; i < quizes.length; i++){ %>
      <tr>
        <td>
          <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
        </td>
      </tr>
      <% } %>
    </table>

    <a href="/quizes/<%= quiz.Id %>"> Volver a intentarlo </a>
    <a href="/quizes/new"><button type="button"> Crear pregunta </button></a>
  </body>
</html>