<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title>Cultura General</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body bgcolor="#E8E8E8">
    <h1>Cuestionario de Cultura General</h1>

    <p>Responda a las siguientes preguntas:</p>

    <form method="get" action="/quizes/answer">
	<b> Pregunta: </b> <%= pregunta %> <br>
	<input type="hidden" name="id" value="1"/>
	<input type="text" name="p1" value="Responda aquí"/> <br>
	<input type="submit" value="Comprobar" />
	</form>
  </body>
  <hr>
  <footer><a href="https://www.miriadax.net"> Miriada X</a> / <a href="https://github.com/AlexOlleta"> GitHub</a>
  </footer>
</html>